
#popup {
    position: fixed;
    top: 0;
    left: 0;
    
    display: none;
    width: 100%;
    height: 100%;
    
    background: rgba(40, 40, 40, .8);
    
    &.active {
        display: block;
    }
}

.popup {
    position: fixed;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    
    display: block;
    width: 80%;
    height: 60%;
    overflow: auto;
    
    margin:auto;
    
    background: #fff;
    box-shadow: 0 0 20px #fff;
    
    p {
        margin-top: 5px;
        margin-bottom: 3px;
        font-size: 14px;
    }
     
    h3 {
        margin-top: 0;
        margin-bottom: 3px;
        margin-left: 10px;
    }
    
    input {
        width: 218px;
        height: 40px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

.button-box {
    display: block;
    float:left;
    
    .button-log {
        width: 105px;
        height: 40px;
        float: left;
        margin: 10px;
        border: 1px solid #666;
        font-size: 18px;
        font-weight: bold;
    }
    
}

.informations {
    float:left;
}

.informations:first-child {
    margin-right: 30px;
    margin-left: 10px;
}

